.sub-description {
    padding: 40px 30px;
    box-sizing: border-box;

    border-bottom-right-radius: 10px;

    background-color: #4ABEBD;
    grid-column: 2/3;
}

.sub-description > ul {
    color: white;
    font-weight: 100;
    opacity: 0.6;
    font-family: 'Work Sans', sans-serif;
    line-height: 1.5;
    font-size: 12px;
}