@import url(var.css);

.container {
    background-color: rgb(255, 255, 255);
    width: 640px;
    height: 480px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 20px;
    /* padding: 45px;
    box-sizing: border-box; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.head {
    padding: 45px;
    box-sizing: border-box;
    grid-column: 1 / 4;
    grid-row: 1 / 2;
}
h1 {
    
    color: var(--Cyan);
    font-size: 25px;
    margin: 0;
    

}
.head__subtitle {
    font-size: 15px;
    font-weight: 500;
    color: var(--BrightYellow);
}
.head > p {
    opacity: 0.4;
    margin: 0;
}
/* section {
    display: flex;
} */
.one {
    grid-column: 1 / 2;
    /* grid-row: ; */
}
.two {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
}